<link rel="stylesheet" href="/css/users_layout.css" />
<h1>This is users page</h1>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<script type="text/javascript" src="/js/users_layout.js"></script>
