footer {
  height: 8vh;
  background-color: rgb(33, 39, 33);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;

  .page-link {
    a {
      color: white;
      font-size: 1.1rem;
      text-decoration: none;
      margin-left: 10px;
    }
    a:active {
      color: rgb(19, 19, 124);
    }
  }
}
