footer {
  height: 8vh;
  background-color: #212721;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 98%;
}

footer .page-link a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  margin-left: 10px;
}

footer .page-link a:active {
  color: #13137c;
}
